@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <div class="content-body">
        <span>
            Let's see here, some basics about me.  I grew up with my parents and two brothers in the Metro Detroit area until I went to college just outsite of Pittsburgh.  I lived fairly close to school during the summer months where I worked some typical college jobs (worked at a golf course and was also a restaurant employee).
        </span>
    </div>
    <div class="content-body">
        <span>
            I got an internship during the summer of 2010 in New York and I accepted a full-time offer from them while I was finishing my final semester that fall. I moved to NYC in Januray of 2011 and have lived all around the city since then (Midtown, Upper West Side, East Village, and most recently Park Slope in Brooklyn)
        </span>
    </div>
    <div class="content-body">
        <span>
            I played lacrosse in college for our NCAA Division II team where we were ranked as a consistent top 10 team during my Junior and Senior years.  After I graduated I started playing ice hockey for a few teams here in the city.
        </span>
    </div>
    <div>
        <span>
            Some other hobbies:
        </span>
    </div>
    <div>
        <span>
            Beer - it's delicious and I love finding and trying new pints around the city.
        </span>
    </div>
    <div>
        <span>
            Hiking - I went out to Utah this past fall and fell in love with the scenery out there.
        </span>
    </div>
    <div>
        <span>
            Dogs - Are awesome 100% of the time.
        </span>
    </div>
    <div>
        <span>
            Detroit Sports Teams - My favorites: 1). Red Wings 2). Lions 3). Tigers
        </span>
    </div>
    <div>
        <span>
            Reading - SciFi novels almost exclusively
        </span>
    </div>
</article>

<script type="text/javascript">
    $(".nav li").removeClass("active");
    $("#_aboutMenuItem").addClass("active");
</script>