@{
    ViewBag.Title = "Contact/Resume - Please No Spam";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact content-body">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Cell:</span>
        <span>(734) 612-0189</span>
    </p>
</section>

<section class="contact content-body">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Me:</span>
        <span><a href="mailto:johnathan.groat@gmail.com">johnathan.groat@gmail.com</a></span>
    </p>
</section>

<section class="contact content-body">
    <header>
        <h3>Resume</h3>
    </header>
    <p>
        I'll Add you later
    </p>
</section>
<script type="text/javascript">
    $(".nav li").removeClass("active");
    $("#_contactMenuItem").addClass("active");
</script>