@{
    ViewBag.Title = "GenreFy";
}
<h3>@ViewBag.Title</h3>
<div class="content-body">
    <span>
        I want to do some Genre analysis on some of my playlists and maybe import some visualization libraries and do some cool stuff with that.  I saw some 'Mood analyzer' stuff in their app store, but I don't know how they work, so I'll just do it myself
    </span>    
</div>
<div class="ui-widget">
    <label for="_artistSearch" style="padding-right: 15px;">Search for an artist: </label>
    <input id="_artistSearch" />
</div>
<div class="content-body">
    <select id="_artistSearchResult" size="10" style="width:60%;">

    </select>
</div>
<div class="content-body">
    <ul id="_genreList">
        
    </ul>
</div>
<script type="text/javascript">
    function SpotifySearchSubmit(searchTerm) {

        var spotifySearchType = 'artist';

        var spotifyApiUrl = 'https://api.spotify.com/v1/search?' + 'type=' + spotifySearchType + '&q=' + encodeURI(searchTerm + '*') + '&limit=50';

        $.ajax({
            type: 'GET',
            url: spotifyApiUrl,
            success: function (data) {
                BuildSpotifyArtistHtml(data.artists.items);
                BuildSpotifyAC(data.artists.items);
            },
            error: function (data) {
                var bigD = data;
            }
        });
    };

    function BuildSpotifyArtistHtml(spotifyArtists) {
        
        var artistsHtml = '';
        var genreArray = [];
        for (var i = 0; i < spotifyArtists.length; i++) {
            artistsHtml += '<option value=' + spotifyArtists[i].name + '>' + spotifyArtists[i].name + '</option>';
            for (var j = 0; j < spotifyArtists[i].genres.length; j++) {
                genreArray.push(spotifyArtists[i].genres[j]);
            }
        }


        var genreHtml = '';
        for (var i = 0; i < genreArray.length; i++) {
            genreHtml += '<li>' + genreArray[i] + '</li>';
        }

        $('#_artistSearchResult').html(artistsHtml);
        $('#_genreList').html(genreHtml);

    };

    function BuildSpotifyAC(spotifyArtists) {

        var acArray = [];
        for (var i = 0; i < spotifyArtists.length; i++) {
            acArray.push(spotifyArtists[i].name);
        }

        //if (acArray.length > 0) {
        //    $('#_artistSearch').autocomplete({
        //        source: acArray
        //    });
        //}
    };

    $('#_artistSearch').on('input', function () {
        if (this.value.length > 3) {
            SpotifySearchSubmit(this.value);
        }
        else {
            $('#_artistSearchResult').html('');
        }
    });

    $('#_artistSearchSubmit').on('click', function () {
        var artistQuery = $('#_artistSearch').val();

        var resp = SpotifySearchSubmit(artistQuery);

        BuildSpotifyArtistHtml(resp);

    });
</script>