@{
    ViewBag.Title = "Home Page";
}
<h1>@ViewBag.Title</h1>
<span>Give me some Fucking aligned content</span>
<span>Give me some Fucking aligned content</span>
<span>Give me some Fucking aligned content</span>
<span>Give me some Fucking aligned content</span>
